apiVersion: batch/v1
kind: CronJob
metadata:
  name: {{ .Release.Name }}-publisher
spec:
  schedule: "*/1 * * * *"  # every 1 minutes
  concurrencyPolicy: Forbid
  jobTemplate:
    spec:
      template:
        metadata:
          labels:
            app.kubernetes.io/name: publisher
          annotations:
            rollme: {{ randAlphaNum 5 | quote }}
        spec:
          {{- with .Values.imagePullSecrets }}
          imagePullSecrets:
            - name: {{ . }}
          {{- end }}
          serviceAccountName: {{ .Release.Name }}-publisher
          restartPolicy: OnFailure
          containers:
            - name: publisher
              image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
              imagePullPolicy: {{ .Values.image.pullPolicy }}
              env:
                - name: LOG_LEVEL
                  value: {{ .Values.logLevel }}
              {{- with .Values.resources }}
              resources:
                {{- toYaml . | nindent 16 }}
              {{- end }}
              volumeMounts:
                - name: storage
                  mountPath: /publisher
          volumes:
            - name: storage
              emptyDir: {}
          {{- with .Values.nodeSelector }}
          nodeSelector:
            {{- toYaml . | nindent 8 }}
          {{- end }}
          {{- with .Values.affinity }}
          affinity:
            {{- toYaml . | nindent 8 }}
          {{- end }}
          {{- with .Values.tolerations }}
          tolerations:
            {{- toYaml . | nindent 8 }}
          {{- end }}
