apiVersion: v1
kind: Service
metadata:
  name: {{ .Release.Name }}-editor
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "editor.selectorLabels" . | nindent 4 }}
