apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ .Release.Name }}-editor-cm"
data:
  test.conf: |
    user nginx;
    worker_processes 1;

    events {
        worker_connections 1024;
    }

    http {
        server {
            listen 8080;

            location /healthz {
                return 200 'OK';
                add_header Content-Type text/plain;
            }
        }
    }
